/* google web fonts */
@import url(http://fonts.googleapis.com/css?family=Prata);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
/* color */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

iframe {
  max-width: 100% !important; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: none; }

input, button, select {
  vertical-align: middle;
  border-radius: 0px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  font-size: 14px;
  font-family: 'Robot Slab:300', serif;
  line-height: 1;
  background-image: url("/img/background.png");
  background-size: 400px;
  color: #848999; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: 980px; }

/* heading, pargraph, link text */
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700; }

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700; }

h3 {
  margin: 10px 0px 1px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400; }

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; }

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700; }

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.grid {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  .grid-1 {
    float: left;
    width: 8.33333%; }
  .grid-2 {
    float: left;
    width: 16.66667%; }
  .grid-3 {
    float: left;
    width: 25%; }
  .grid-4 {
    float: left;
    width: 33.33333%; }
  .grid-5 {
    float: left;
    width: 41.66667%; }
  .grid-6 {
    float: left;
    width: 50%; }
  .grid-7 {
    float: left;
    width: 58.33333%; }
  .grid-8 {
    float: left;
    width: 66.66667%; }
  .grid-9 {
    float: left;
    width: 75%; }
  .grid-10 {
    float: left;
    width: 83.33333%; }
  .grid-11 {
    float: left;
    width: 91.66667%; }
  .grid-12 {
    float: left;
    width: 100%; }

.wrapper {
  padding: 150px 0; }

a {
  font-size: 14px;
  color: #848999;
  text-decoration: none; }
  a:hover {
    color: #ffffff; }

.fa {
  font-size: 18px;
  margin-right: 10px;
  width: 20px; }

.contents {
  padding-left: 60px; }
  .contents > .top-title {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal; }
    .contents > .top-title > span {
      font-size: 26px;
      padding-left: 50px;
      color: #848999; }
  .contents > ul {
    font-size: 14px;
    color: #848999;
    margin-bottom: 40px; }
    .contents > ul > li {
      list-style-type: none;
      padding: 10px 0;
      line-height: 150%; }
  .contents > p {
    line-height: 200%;
    margin-bottom: 20px; }

.sidebar {
  padding: 30px 20px;
  font-family: 'Prata', serif;
  border-right: 2px solid #ffffff; }
  .sidebar > ul {
    list-style-type: none;
    color: #848999; }
    .sidebar > ul > li {
      margin-top: 15px;
      padding: 8px 0; }
      .sidebar > ul > li > a {
        font-size: 18px; }

#footer {
  margin-bottom: 30px;
  margin-top: 30px; }
  #footer > p {
    text-align: center;
    color: #848999; }
  #footer > p:hover {
    color: #ffffff; }

.heading-primary {
  color: #ffffff;
  padding: 30px 0;
  font-family: 'Prata', serif; }

ul {
  padding-left: 10px; }

/*# sourceMappingURL=style.css.map */
