.work-card-list {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

  .work-card {
    width: calc(100% * (1/3) - 10px - 1px);
    margin: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .work-card-list .work-card {
    width: calc(100% * (1/2) - 10px - 1px);
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .work-card-list {
    flex-direction: column;

    .work-card {
      width: 100%;
    }
  }
}

.work-card {
  overflow: hidden;
  position: relative;

  .work-card-description {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 20px;
  }
}

.work-card {
  > a {
    padding: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    img {
      // 変化を0.3秒
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      transition: 0.3s ease-in;
      // 暗くする
      -webkit-filter: brightness(0.3);
      -moz-filter: brightness(0.3);
      -o-filter: brightness(0.3);
      filter: brightness(0.3);
    }

    .work-card-description {
      visibility: visible;
    }

    .work-card-skills {
      animation-name: slideIn;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
  }
  80% {
    -webkit-transform: translate(-3%,0);
    transform: translate(-3%,0);
  }
  to {
    -webkit-transform: translate(0,0);
    transform: translate(0.0);
  }
}

.work-card-description {
  position: absolute;
  bottom: 10px;
  visibility: hidden;

  .work-card-skills {
    font-size: 10px;
    color: #ffffff;
    padding: 0;
    margin: 0;

    > li {
      list-style-type: none;
      border: 1px solid #ffffff;
      float: left;
      margin: 3px;
      padding: 4px;
    }
  }

  .work-card-heading {
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin: 10px 0 0 0;
    color: #ffffff;
    padding-left: 2px;

    > span {
      font-size: 16px;
      font-weight: normal;
    }
  }
}
