header {
  .title {
    text-align: center;
    color: $color_primary_text;
    font-size: 38px;
    font-weight: 200;
  }

  .title-image {
    @include border-radius(50%);
    width: 150px;
    border: 6px solid #ffffff;
    display: block;
    margin: 30px auto;
  }
}
