header {
  .title {
    text-align: center;
  }

  .title-image {
    @include border-radius(50%);
    width: 150px;
    border: 2px solid $sub_accent_color;
    display: block;
    margin: 30px auto;
  }
}
