ul.tag-list {
  overflow: hidden;
  padding-left: 0;

  li {
    list-style-type: none;
    float: left;
    margin: 3px;
    padding: 5px 8px;
    color: $color_secondary_text;
    border-radius: 5px;
    border: 1px solid $color_secondary_text;
  }
}