ul.tag-list {
  padding-left: 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  li {
    list-style-type: none;
    margin: 3px;
    padding: 5px 8px;
    color: $color_secondary_text;
    border-radius: 5px;
    border: 1px solid $color_secondary_text;
  }
}