@import url(http://fonts.googleapis.com/css?family=Prata);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* line 5, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* google web fonts */
/* color */
/* file path */
/* line 1, ../../src/scss/base/_basic.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../src/scss/base/_basic.scss */
html {
  font-size: 62.5%;
  min-height: 100%;
}

/* line 8, ../../src/scss/base/_basic.scss */
body {
  font-size: 14px;
  font-family: 'Noto Sans Japanese', sans-serif;
  line-height: 1;
  background-image: url("../../../img/background.png");
  color: #432723;
}

/* line 16, ../../src/scss/base/_basic.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: 980px;
}

/* heading, pargraph, link text */
/* line 24, ../../src/scss/base/_basic.scss */
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

/* line 30, ../../src/scss/base/_basic.scss */
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

/* line 36, ../../src/scss/base/_basic.scss */
h3 {
  margin: 10px 0px 1px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

/* line 42, ../../src/scss/base/_basic.scss */
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* line 48, ../../src/scss/base/_basic.scss */
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

/* line 54, ../../src/scss/base/_basic.scss */
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

/* line 3, ../../src/scss/base/_grid.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 8, ../../src/scss/base/_grid.scss */
.grid {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-1 {
  float: left;
  width: 8.33333%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-2 {
  float: left;
  width: 16.66667%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-3 {
  float: left;
  width: 25%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-4 {
  float: left;
  width: 33.33333%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-5 {
  float: left;
  width: 41.66667%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-6 {
  float: left;
  width: 50%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-7 {
  float: left;
  width: 58.33333%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-8 {
  float: left;
  width: 66.66667%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-9 {
  float: left;
  width: 75%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-10 {
  float: left;
  width: 83.33333%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-11 {
  float: left;
  width: 91.66667%;
}
/* line 15, ../../src/scss/base/_grid.scss */
.grid-12 {
  float: left;
  width: 100%;
}

/* line 1, ../../src/scss/layout/_wrapper.scss */
.wrapper {
  padding: 150px 0;
}

/* line 1, ../../src/scss/layout/_contents.scss */
a {
  font-size: 14px;
  color: #432723;
  text-decoration: none;
}
/* line 6, ../../src/scss/layout/_contents.scss */
a:hover {
  color: #ffffff;
}

/* line 11, ../../src/scss/layout/_contents.scss */
.fa {
  font-size: 18px;
  margin-right: 10px;
  width: 20px;
}

/* line 17, ../../src/scss/layout/_contents.scss */
.contents {
  padding-left: 60px;
}
/* line 20, ../../src/scss/layout/_contents.scss */
.contents > .top-title {
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}
/* line 27, ../../src/scss/layout/_contents.scss */
.contents > .top-title > span {
  font-size: 26px;
  padding-left: 50px;
  color: #848999;
}
/* line 34, ../../src/scss/layout/_contents.scss */
.contents > ul {
  font-size: 14px;
  color: #432723;
  margin-bottom: 40px;
}
/* line 39, ../../src/scss/layout/_contents.scss */
.contents > ul > li {
  list-style-type: none;
  padding: 10px 0;
  line-height: 150%;
}
/* line 46, ../../src/scss/layout/_contents.scss */
.contents > p {
  line-height: 200%;
  margin-bottom: 20px;
}

/* line 1, ../../src/scss/layout/_side.scss */
.sidebar {
  padding: 30px 20px;
  font-family: 'Prata', serif;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) -1px 0 0 inset;
}
/* line 6, ../../src/scss/layout/_side.scss */
.sidebar > ul {
  list-style-type: none;
  color: #432723;
}
/* line 10, ../../src/scss/layout/_side.scss */
.sidebar > ul > li {
  margin-top: 15px;
  padding: 8px 0;
}
/* line 14, ../../src/scss/layout/_side.scss */
.sidebar > ul > li > a {
  font-size: 18px;
}

/* line 1, ../../src/scss/layout/_footer.scss */
#footer {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 5, ../../src/scss/layout/_footer.scss */
#footer > p {
  text-align: center;
  color: #432723;
}
/* line 10, ../../src/scss/layout/_footer.scss */
#footer > p:hover {
  color: #ffffff;
}

/* line 2, ../../src/scss/layout/_heading.scss */
.heading-primary {
  color: #ffffff;
  padding: 30px 0;
  font-family: 'Prata', serif;
}

/* line 1, ../../src/scss/modules/_list.scss */
ul {
  padding-left: 10px;
}
