$size_max: 980px;
$size_min: 320px;

/* google web fonts */
@import url(http://fonts.googleapis.com/css?family=Prata);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* color */
$background_color: #000000;
$accent_color: #ffffff;
$base_color: #432723;

/* file path */
$img_path: "../../../img/";
