.contents {
  padding-left: 60px;

  ul {
    padding-left: 30px;
    font-size: 14px;
    color: $base_color;
    margin-bottom: 10px;
  }

  li {
    list-style-type: disc;
    padding: 10px 0;
    line-height: 150%;
  }

  p {
    line-height: 200%;
    margin-bottom: 20px;
  }
}
