header {
  background-color: #222222;
  padding:20px 0 20px 0;

  .title-image {
    @include border-radius(50%);
    border: 2px solid #ffffff;
    display: block;
  }

  .logo {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;  // 左寄せ
    align-items: center;  // 垂直方向に中央寄せ

    .name {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      padding-left: 15px;
    }
  }
}

.nav {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;  // 右寄せ
  align-items: center;  // 垂直方向に中央寄せ

  button {
    font-family: "Raleway", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
  }

  img {
    max-height: 40px;
  }

  li:first-child {
    margin-right: auto;  // 1つめの要素だけ左寄せ
  }
}

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}

.eyecatch{
  padding-top: 30%;
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-background-size: cover;
  background-image: url("/img/eyecatch.jpg");
}
