header {
  background-color: #222222;
  padding:50px 0 50px 0;

  .title {
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    font-weight: 200;
  }

  .title-image {
    @include border-radius(50%);
    width: 150px;
    border: 6px solid #ffffff;
    display: block;
    margin: 30px auto;
  }

  .translation {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 0 0 0;

    button {
      border-style: none;
      font-size: 20px;
      color: white;
      background: rgba(255, 255, 255, 0);
    }
  }
}
