header {
  position: relative;
  padding: 0 0 22% 0;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 0 35% 0;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0 0 45% 0;

    .header-content {
      margin-left: -200px;
      margin-top: 0px;
    }
  }
}
@media screen and (max-width: 400px) {
  header .header-content {
    display: none;
  }
}

nav {
  background-color: #222222;

  .container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
  }
}

.title-image {
  @include border-radius(50%);
  border: 2px solid #ffffff;
  display: block;
  width: 30px;
}

.nav-brand {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;  // 左寄せ
  align-items: center;  // 垂直方向に中央寄せ

  .name {
    font-family: "Raleway", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
  }
}

.nav {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;  // 右寄せ
  align-items: center;  // 垂直方向に中央寄せ

  a, button {
    font-family: "Raleway", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-style: none;
    padding: 15px;
    display: block;
    border-bottom: 5px solid rgba(0, 0, 0, 0);

    &:hover {
      border-bottom: 5px solid #ffffff;
    }
  }
}

@media screen and (max-width: 600px) {
  nav > .container {
    flex-direction: column;
  }

  .nav {
    justify-content: space-between;
  }
}

#eyecatch {
  display: block;
  background: no-repeat 50% 0;
  background-size: cover;
  -webkit-background-size: cover;
  background-image: url("/img/eyecatch.jpg");
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.profileicon {
  border: 5px solid #eee;

  width: 120px;
  height: 120px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  background-image: url(/img/profile.png);
  background-attachment: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profiletext {
  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;

  padding-top: 20px;
  padding-left: 20px;

  .name {
    font-size: 20px;
  }
  .role {
    font-size: 32px;
  }
  .lang {
    font-size: 16px;
  }
}

