.sidebar {
  padding: 30px 20px;
  @include line-right(.2, .3);

  ul {
    list-style: none none;
    color: $base_color;
  }

  li {
    margin-top: 15px;
    padding: 8px 0;
  }

  a {
    font-size: 18px;
  }
}