a {
  font-size: 14px;
  color: $base_color;
  text-decoration: none;

  &:hover {
    color: $accent_color;
  }
}

.contents {
  padding-left: 60px;

  & > .top-title {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;

    & > span {
      font-size: 26px;
      padding-left: 50px;
      color: #848999;
    }
  }

  & > ul {
    font-size: 14px;
    color: $base_color;
    margin-bottom: 40px;

    & > li {
      list-style-type: none;
      padding: 10px;
    }
  }

  & > p {
    padding-left: 10px;
  }
}