<h2>Gallery</h2>

<div class="work-card-list">
    <card title="Comet"
          subtitle="Desktop application for displaying the hashtag tweets when you talk at a conference."
          linkUrl="https://github.com/c-bata/comet"
          imageUrl="/img/works/comet.gif"
          tags="JavaScript,Electron"></card>
    <card title="c-bata bot"
          subtitle="Serverless LINE BOT using Chalice"
          linkUrl="https://github.com/c-bata/chalice-linebot"
          imageUrl="/img/works/linebot.png"
          tags="Python2,AWS Lambda,API Gateway, chalice"></card>
    <card title="c-bata.link"
          subtitle="This is my portfolio website."
          linkUrl="https://github.com/c-bata/c-bata.github.io"
          imageUrl="/img/works/portfolio.png"
          tags="HTML5,Sass,Compass,Angular2"></card>
    <card title="Kobin Example"	
          subtitle="自作Python製WebフレームワークKobinのExample Application"
          linkUrl="https://github.com/c-bata/kobin-example/"
          imageUrl="/img/works/kobin-todo.jpg"
          tags="Python3,Kobin,Angular2,TypeScript,Sass"></card>
    <card title="takusuta"
          subtitle="CA TechDesign CAMP にて新機能を提案・実装し、優勝しました。"
          linkUrl=""
          imageUrl="/img/works/tagusuta.jpg"
          tags="Android,Java"></card>
    <card title="BioBlink"
          subtitle="J!NS MEMEのセンサーデータ収集アプリケーション"
          linkUrl="http://nwpct1.hatenablog.com/entry/start-ios-development"
          imageUrl="/img/works/bioblink.jpg"
          tags="iOS,Swift"></card>
</div>


<h2>OSS Libraries</h2>

<h3>Golang</h3>
<ul>
    <li><a href="https://github.com/c-bata/go-prompt">go-prompt: Building powerful interactive prompt in Go, inspired by python-prompt-toolkit.</a></li>
    <li><a href="https://github.com/c-bata/kube-prompt">kube-prompt: An interactive kubernetes client featuring autocomplete using go-prompt.</a></li>
    <li><a href="https://github.com/c-bata/rtmp">rtmp: Server implementation of RTMP 1.0 protocol in Go.</a></li>
    <li><a href="https://github.com/c-bata/systracer">systracer: Yet another system call tracer written in Pure Go.</a></li>
    <li><a href="https://github.com/c-data/gosearch">gosearch: Web crawler and Search engine in Golang. </a></li>
    <li><a href="https://github.com/c-bata/rexecute">rexecute: Re-execute a command when specified files are modified. </a></li>
</ul>

<h3>Python</h3>
<ul>
    <li><a href="https://github.com/kobinpy/kobin">Kobin: A small and statically-typed web web framework for python</a></li>
    <li><a href="https://github.com/c-data/pandas-validator">pandas-validator: Validation Library for pandas's DataFrame and Series.</a></li>
    <li><a href="https://github.com/kobinpy/kwsgi">kwsgi: yet another WSGI server implementation</a></li>
    <li><a href="https://github.com/c-data/feedy">Feedy: RSS Feed fetching framework for python</a></li>
    <li><a href="https://github.com/kobinpy/wsgicli">WSGICLI: Command Line Interface for developing WSGI application..</a></li>
    <li><a href="https://github.com/kobinpy/wsgi-static-middleware">wsgi-static-middleware: WSGI Middleware for serving static files.</a></li>
    <li><a href="https://github.com/kobinpy/wsgi-vmprof">wsgi-vmprof: WSGI Middleware for integrating vmprof.</a></li>
    <li><a href="https://github.com/c-data/outlier-utils">outlier-utils: Utility library for detecting and removing outliers from normally distributed datasets</a></li>
    <li><a href="https://github.com/c-bata/django-label-tag-attr">django-label-tag-attr: Add css classes and html tag attributes to django form's label.</a></li>
</ul>

<h3>JavaScript</h3>
<ul>
    <li><a href="https://github.com/c-bata/react-native-focus-scroll">react-native-focus-scroll: To detect which children are focused when scrolling for React Native. </a></li>
    <li><a href="https://github.com/c-bata/comet">Comet: NicoNico style tweet viewer for Desktop</a></li>
    <li><a href="https://github.com/c-bata/ng2-card">ng2-card: Card view component for Angular2</a></li>
    <li><a href="https://github.com/c-bata/mdnote">mdnote: Markdown editor with React.js, Babel and Electron.</a></li>
</ul>

<h3>Others</h3>
<ul>
    <li><a href="https://github.com/c-data/jpandas">jpandas: Implementation of Pandas (Python Data Analysis Library) on java.</a></li>
    <li><a href="https://github.com/c-bata/pym">pym: Simple python interpreter manager</a></li>
</ul>

