<h2>Works</h2>

<h3>Web Services</h3>

<div class="work-card-list">
    <div class="work-card">
        <a href="https://itukalist.herokuapp.com/" target="_blank">
            <img src="/img/works/itukalist.jpg" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>Python3</li>
                    <li>Django</li>
                    <li>Sass</li>
                    <li>Twitter Bootstrap</li>
                </ul>
                <h2 class="work-card-heading">
                    いつかリスト
                    <span>いつかやりたいことを管理するWebアプリ</span>
                </h2>
            </span>
        </a>
    </div>
    <div class="work-card">
        <a href="https://github.com/c-bata/c-bata.github.io" target="_blank">
            <img src="/img/works/portfolio.png" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>HTML5/CSS3</li>
                    <li>Sass</li>
                    <li>Compass</li>
                    <li>Babel(ES2015)</li>
                </ul>
                <h2 class="work-card-heading">
                    c-bata.link
                    <span>This is my portfolio website.</span>
                </h2>
            </span>
        </a>
    </div>
    <div class="work-card">
        <a href="https://github.com/c-bata/kobin/" target="_blank">
            <img src="/img/works/kobin-todo.jpg" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>Python3</li>
                    <li>Kobin</li>
                    <li>Angular2</li>
                    <li>TypeScript</li>
                    <li>Sass</li>
                </ul>
                <h2 class="work-card-heading">
                    Kobin TODO
                    <span>自作Python製WebフレームワークのExample Application</span>
                </h2>
            </span>
        </a>
    </div>
</div>

<h3>Smartphone Native Applications</h3>

<div class="work-card-list">
    <div class="work-card">
        <a href="https://takusuta.com/" target="_blank">
            <img src="/img/works/tagusuta.jpg" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>Android</li>
                    <li>Java</li>
                </ul>
                <h2 class="work-card-heading">
                    宅スタ
                    <span>CA TechDesign CAMP にて新機能を提案・実装しました</span>
                </h2>
            </span>
        </a>
    </div>
    <div class="work-card">
        <a href="http://nwpct1.hatenablog.com/entry/start-ios-development" target="_blank">
            <img src="/img/works/bioblink.jpg" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>iOS</li>
                    <li>Swift</li>
                </ul>
                <h2 class="work-card-heading">
                    BioBlink
                    <span>J!NS MEMEのセンサーデータ収集アプリケーション</span>
                </h2>
            </span>
        </a>
    </div>
</div>


<h3>Frameworks</h3>

<div class="work-card-list">
    <div class="work-card">
        <a href="https://github.com/c-bata/kobin/" target="_blank">
            <img src="/img/works/kobin.png" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>Python</li>
                </ul>
                <h2 class="work-card-heading">
                    Kobin
                    <span>A small and statically-typed web framework for Python3</span>
                </h2>
            </span>
        </a>
    </div>
    <div class="work-card">
        <a href="https://github.com/c-bata/feedy/" target="_blank">
            <img src="/img/works/feedy.png" />
            <span class="work-card-description">
                <ul class="work-card-skills">
                    <li>Python</li>
                </ul>
                <h2 class="work-card-heading">
                    Feedy
                    <span>RSS Feed Fetching Framework for Python</span>
                </h2>
            </span>
        </a>
    </div>
</div>

<h2>OSS Libraries</h2>

<h3>Python</h3>
<ul>
    <li><a href="https://github.com/c-bata/kobin">Kobin: A small and statically-typed web web framework for python</a></li>
    <li><a href="https://github.com/c-bata/feedy">Feedy: RSS Feed fetching framework for python</a></li>
    <li><a href="https://github.com/c-bata/pandas-validator">pandas-validator: Validation Library for pandas's DataFrame and Series.</a></li>
    <li><a href="https://github.com/c-bata/outlier-utils">outlier-utils: Utility library for detecting and removing outliers from normally distributed datasets</a></li>
    <li><a href="https://github.com/c-bata/django-label-tag-attr">django-label-tag-attr: Add css classes and html tag attributes to django form's label.</a></li>
</ul>

<h3>Android</h3>
<ul>
    <li><a href="https://github.com/c-bata/jpandas">jpandas: Implementation of Pandas (Python Data Analysis Library) on java.</a></li>
</ul>

<h3>JavaScript</h3>
<ul>
    <li><a href="https://github.com/c-bata/mdnote">mdnote: Markdown editor with React.js, Babel and Electron.</a></li>
</ul>

<h3>Others</h3>
<ul>
    <li><a href="https://github.com/c-bata/pym">pym: Simple python interpreter manager</a></li>
</ul>


<h2>Skills</h2>

<h3>Languages</h3>
<ul class="tag-list">
    <li>Python</li>
    <li>Golang</li>
    <li>Swift</li>
    <li>Java(Android)</li>
    <li>JavaScript(ES2015)</li>
    <li>TypeScript</li>
</ul>


<h2>Framework and Libraries</h2>

<h3>Server Side</h3>
<ul class="tag-list">
    <li>Django</li>
    <li>Flask</li>
    <li>Bottle</li>
    <li>Kobin</li>
    <li>Gin</li>
</ul>

<h3>Web Frontend</h3>
<ul class="tag-list">
    <li>React.js</li>
    <li>Babel(ES2015)</li>
    <li>Angular2</li>
    <li>TypeScript</li>
    <li>Sass</li>
    <li>Compass</li>
</ul>

<h3>Native Application</h3>
<ul class="tag-list">
    <li>Android(Java)</li>
    <li>iOS(Swift)</li>
</ul>

<h3>Infrastructure</h3>

<ul class="tag-list">
    <li>Ansible</li>
    <li>Vagrant</li>
    <li>Docker</li>
    <li>Heroku</li>
    <li>AWS/EC2</li>
    <li>Nginx</li>
    <li>uWSGI</li>
</ul>

<h3>Databases</h3>

<ul class="tag-list">
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>SQLite3</li>
    <li>MongoDB</li>
    <li>Redis</li>
</ul>
