<h2>Works</h2>

<h3>Web Services</h3>

<div class="work-card-list">
    <card title="いつかリスト"
          subtitle="いつかやりたいことを管理するWebアプリ"
          linkUrl="https://itukalist.herokuapp.com/"
          imageUrl="/img/works/itukalist.jpg"
          tags="Python3,Django,Sass,Twitter Bootstrap"></card>
    <card title="c-bata.link"
          subtitle="This is my portfolio website."
          linkUrl="https://github.com/c-bata/c-bata.github.io"
          imageUrl="/img/works/portfolio.png"
          tags="HTML5,Sass,Compass,Angular2"></card>
    <card title="Kobin Example"
          subtitle="自作Python製WebフレームワークのExample Application"
          linkUrl="https://github.com/c-bata/kobin/"
          imageUrl="/img/works/kobin-todo.jpg"
          tags="Python3,Kobin,Angular2,TypeScript,Sass"></card>
</div>

<h3>Smartphone Native Applications</h3>

<div class="work-card-list">
    <card title="takusuta"
          subtitle="CA TechDesign CAMP にて新機能を提案・実装しました"
          linkUrl="https://takusuta.com/"
          imageUrl="/img/works/tagusuta.jpg"
          tags="Android,Java"></card>
    <card title="BioBlink"
          subtitle="J!NS MEMEのセンサーデータ収集アプリケーション"
          linkUrl="http://nwpct1.hatenablog.com/entry/start-ios-development"
          imageUrl="/img/works/bioblink.jpg"
          tags="iOS,Swift"></card>
</div>


<h3>Frameworks</h3>

<div class="work-card-list">
    <card title="Kobin"
          subtitle="A small and statically-typed web framework for Python3"
          linkUrl="https://github.com/c-bata/kobin/"
          imageUrl="/img/works/kobin.png"
          tags="Python"></card>
    <card title="Feedy"
          subtitle="RSS Feed Fetching Framework for Python"
          linkUrl="https://github.com/c-bata/feedy/"
          imageUrl="/img/works/feedy.png"
          tags="Python"></card>
</div>

<h2>OSS Libraries</h2>

<h3>Python</h3>
<ul>
    <li><a href="https://github.com/c-bata/kobin">Kobin: A small and statically-typed web web framework for python</a></li>
    <li><a href="https://github.com/c-bata/feedy">Feedy: RSS Feed fetching framework for python</a></li>
    <li><a href="https://github.com/c-bata/pandas-validator">pandas-validator: Validation Library for pandas's DataFrame and Series.</a></li>
    <li><a href="https://github.com/c-bata/outlier-utils">outlier-utils: Utility library for detecting and removing outliers from normally distributed datasets</a></li>
    <li><a href="https://github.com/c-bata/django-label-tag-attr">django-label-tag-attr: Add css classes and html tag attributes to django form's label.</a></li>
</ul>

<h3>Android</h3>
<ul>
    <li><a href="https://github.com/c-bata/jpandas">jpandas: Implementation of Pandas (Python Data Analysis Library) on java.</a></li>
</ul>

<h3>JavaScript</h3>
<ul>
    <li><a href="https://github.com/c-bata/mdnote">mdnote: Markdown editor with React.js, Babel and Electron.</a></li>
</ul>

<h3>Others</h3>
<ul>
    <li><a href="https://github.com/c-bata/pym">pym: Simple python interpreter manager</a></li>
</ul>


<h2>Skills</h2>

<h3>Languages</h3>
<ul class="tag-list">
    <li>Python</li>
    <li>Golang</li>
    <li>Swift</li>
    <li>Java(Android)</li>
    <li>JavaScript(ES2015)</li>
    <li>TypeScript</li>
</ul>


<h2>Framework and Libraries</h2>

<h3>Server Side</h3>
<ul class="tag-list">
    <li>Django</li>
    <li>Flask</li>
    <li>Bottle</li>
    <li>Kobin</li>
    <li>Gin</li>
</ul>

<h3>Web Frontend</h3>
<ul class="tag-list">
    <li>React.js</li>
    <li>Babel(ES2015)</li>
    <li>Angular2</li>
    <li>TypeScript</li>
    <li>Sass</li>
    <li>Compass</li>
</ul>

<h3>Native Application</h3>
<ul class="tag-list">
    <li>Android(Java)</li>
    <li>iOS(Swift)</li>
</ul>

<h3>Infrastructure</h3>

<ul class="tag-list">
    <li>Ansible</li>
    <li>Vagrant</li>
    <li>Docker</li>
    <li>Heroku</li>
    <li>AWS/EC2</li>
    <li>Nginx</li>
    <li>uWSGI</li>
</ul>

<h3>Databases</h3>

<ul class="tag-list">
    <li>MySQL</li>
    <li>PostgreSQL</li>
    <li>SQLite3</li>
    <li>MongoDB</li>
    <li>Redis</li>
</ul>
